.first-container {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-40%, -60%);
    border: 1px solid blue;
    padding: 40px;
    background-color: white;
}

.second-container {
    text-align: center;
}