

.bg-signup-poster {
    background-image: url(/src/components/img/AthletPoster.png);
    background-position: 900px;
    background-size: cover;
}

.bg-form-box {
    background-color: white;
    box-shadow: 0px 0px 25px -5px black;
}

.form-box {
    box-shadow: 0px 0px, 15px -5px black;
}

.card-signup {
    display: flex;
    justify-content: center;
}
