

.body-userform {
    background-color: #eee;
}

.header-userform {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.header-userform .nav-userform {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.header-userform .nav-userform .tabs {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.header-userform .nav-userform .tabs .tab {
    display: block;
}

.header-userform .nav-userform .tabs .tab a[data-switcher] {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    background-color: royalblue;
    cursor: pointer;
    border-radius: 100%;
}

.header-userform .nav-userform .tabs .tab:hover a[data-switcher] {
    background-color: #F7A800;
}

.header-userform .nav-userform .tabs .tab.is-active a[data-switcher] {
    background-color: #F7A800;
    font-weight: 700;
}

.main-userform {
    padding-left: 100px;
    padding-right: 100px;
}

.pages {
    margin-top: 100px;
    padding: 50px 30px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.pages .page {
    display: none;
}

.pages .page.is-active {
    display: block;
}