body {
    background: #FFAB00;
    background: linear-gradient(to right, #FFAB00, #FF7A00);
}

.login-box {
    background-color: white;
    box-shadow: 0px 0px 25px -5px black;
    min-height: 86vh;
}

.bg-login-pic {
    background-image: url(/src/img/LoginUserModel.png);
    background-position: center center;
    background-size: cover;
}

.btn-primary {
    color: #fff;
    background-color: #7209B7 !important;
    border-color: #9103CF !important;
}