@import url('https://fonts.googleapis.com/css2?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Sharp');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Reem+Kufi:wght@400;700&display=swap');

body {
    background: #FFAB00;
    background: linear-gradient(to right, #FFAB00, #FF7A00);
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Reem Kufi', sans-serif; */
}

.logo-mrcoach {
    width: 60px;
}

.btn-primary {
    color: #fff;
    background-color: #7209B7 !important;
    border-color: #9103CF !important;
}